* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #49C6E5;
}

body h1 {
  text-align: center;
  margin-bottom: 0.5em;
}

.container {
  width: 35vw;
  max-height: 35vh;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 10px;
  box-shadow: 0px 0px 2px #000;
}

.container input {
  padding: 10px;
  width: 100%;
  font-size: 1em;
  border-radius: 10px;
  border: 1px solid #000;
}

.container .search-btn {
  padding: 10px;
  margin-top: 0.5em;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: #ff9100;
  color: #fff;
}

.container .search-btn:hover {
  cursor: pointer;
  background-color: #ff9100d6;
}

.container .results h2 {
  text-align: center;
}

.container .results .infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  font-size: 1.5em;
}

.container .results .temps p {
  text-align: center;
}

.container .description {
  text-align: center;
}

.container .description p {
  text-transform: capitalize;
}
